<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Eleitor</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Cadastro de Eleitor</h1>
        <form action="/eleitorCadastro" method="post" id="form-cadastro-eleitor">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required placeholder="Digite seu nome">

            <label for="endereco">Endereço:</label>
            <input type="text" id="endereco" name="endereco" required placeholder="Digite seu Endereço">

            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf" required placeholder="Digite seu CPF">

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required placeholder="Digite sua Senha">

            <button type="submit">Cadastrar</button>
        </form>
        <a href="/welcome">Voltar</a>
    </div>
</body>
</html>
