<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Cargo</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Cadastro de Cargo</h1>
        <form action="/cargosCadastro" method="post" id="form-cadastro-cargo">
            <label for="cargo">Cargo:</label>
            <input type="text" id="cargo" name="cargo" required placeholder="Digite o cargo">

            <label for="eleicao_id">Eleição:</label>
            <select id="eleicao_id" name="eleicao_id" required>
                <option value="" disabled selected>Selecione uma Eleição</option>
                <% eleicoes.forEach(eleicao => { %>
                    <option value="<%= eleicao.id %>"><%= eleicao.nome %></option>
                <% }); %>
            </select>

            <button type="submit">Cadastrar</button>
        </form>
        <a href="/welcome">Voltar</a>
    </div>
</body>
</html>
