<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Voto</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Cadastro de Voto</h1>
        <form action="/votoCadastro" method="post" id="form-cadastro-voto">
            <label for="candidato_id">Candidato:</label>
            <select id="candidato_id" name="candidato_id" required>
                <option value="" disabled selected>Selecione um Candidato(a)</option>
                <% candidatos.forEach(candidatos => { %>
                    <option value="<%=candidatos.id%>"><%= candidatos.nome %></option>
                <% }); %>
            </select>
            
            <label for="eleicao_id">Eleição:</label>
            <select id="eleicao_id" name="eleicao_id" required>
                <option value="" disabled selected>Selecione uma Eleição</option>
                <% eleicoes.forEach(eleicao => { %>
                    <option value="<%= eleicao.id %>"><%= eleicao.nome %></option>
                <% }); %>
            </select>

            

            <button type="submit">Cadastrar Voto</button>
        </form>
        <a href="/User">Voltar</a>
    </div>
</body>
</html>
