<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Votação Online</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">

</head>
<body>

    <header>
        <h1>Sistema de Votação Online</h1>
    </header>

    <div class="container">
        <nav>
            <ul>
                <li><a href="/welcome">Experiencia Admin</a></li>
                <li><a href="/login">Experiencia Usuário</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
