<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Votação Online</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">

</head>
<body>

    <header>
        <h1>Sistema de Votação Online</h1>
    </header>

    <div class="container">
        <nav>
            <ul>
                <li><a href="/candidatoCadastro">Cadastro de Candidato</a></li>
                <li><a href="/cargosCadastro">Cadastro de Cargos</a></li>
                <li><a href="/eleicaoCadastro">Cadastro de Eleição</a></li>
                <li><a href="/chapaCadastro">Cadastro de Chapa</a></li>
                <li><a href="/candidatoChapaCadastro">Cadastro de Candidato em Chapa</a></li>
                <li><a href="/eleitorCadastro">Cadastro de Eleitor</a></li>
                <li><a href="/liberacao_eleitor">Liberação de Eleitor</a></li>
                <li><a href="/votoCadastro">Cadastro de Voto</a></li>
                <li><a href="/relatorioInicializacao">Relatório de Inicialização</a></li>
                <li><a href="/relatorio_final">Relatório Final</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
